*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header a{
    color:red;
    font-size: 40px;
    font-weight: bold;
    font-family: yellow cursive;
}
ul{
    margin-left: 40%;
    margin-right: 1%;
    display: inline;
}
ul li{
    list-style: none;
    display: inline;
    margin-left: 2%;
}
ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    font-family: serif;
    color: white;
}
#menu-icon{
     font-size: 30px;
     color:black;
     margin-left: 30%;
     display: none;    
}
img{
    border-radius: 100%;
    margin-left: 60%;
    margin-top: 5%;
    width:100%;
    heigth:auto;
}
body{
    background-color:black;
}
h1{
    margin-left:20%;
    color:white;
    transform: translate(10%,-900%);
    font-size: 50px;
}
h1 span{
    color:crimson;

}
h2 {
    color: aliceblue;
    font-size: 25px;
    margin-left: 20%;
    transform: translate(0%,-1700%);
}
h3{
    color: aliceblue;
    margin-left: 28%;
    font-size: 22px;
    transform: translate(0%,-1950%);
}
h4{
    color: aliceblue;
    margin-left: 35%;
    font-size: 20px;
    transform: translate(0%,-2300%);
}
h5{
    color: aliceblue;
    margin-left:41% ;
    font-size: 17px;
    transform: translate(0%,-2600%);
}
p{
    color: aliceblue;
    font-size: 30px;
    margin-left: 15%;
    transform: translate(0%,-700%);
    font-weight: bold;
}
button{
    margin-left: 30%;
    font-size: 15px;
    font-weight: bold;
    background-color: aqua;
    transform: translate(0%,-1100%);
    border-radius: 20%;
    width:150px;
    height: 40px;
}
